@pierreericgarcia:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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